.container {
  margin-top: 25px;
}

h4 {
  text-align: center;
  color: #36486b;
}

.list-group {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.item-checked {
  position: absolute;
  right: 15px;
  width: 20px;
  height: 20px;
}

.clear-list {
  margin-top: 20px;

}
